body{
    background: rgb(250, 86, 45);
    font: normal 15pt arial;
}

header{
    color: #fff;
    text-align: center;
}

section{
    background: white;
    border: solid 2px rgba(0, 0, 0, 0.281);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.507);
}
div.res{
    margin-top: 15px;
}

footer{
    color: #fff;
    text-align: center;
    font-style: italic;
}

/*Minhas Formatações*/

#dados input{
    border: solid 2px rgba(0, 0, 0, 0.281);
    border-radius: 6px;
    padding: 6px;
    outline: none;
}
button{
    font-weight: 600;
    padding: 5px 12px;
    color: white;
    background: rgb(250, 86, 45);
    border-radius: 15px;
    border: solid 2px;
    width: 50%;
}
button:hover{
    background: transparent;
    border: solid 2px rgb(250, 86, 45);
    color: black;
    transition: 0.5s;
}