body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(238, 125, 105);
}

header{
    text-align: center;
    color: #fff;
    font-size: 2.2rem;
}
header h1 {
    text-shadow: 0px 0px 10px #fff;
}

section{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.507);
}

div{

}

footer{
    text-align: center;
    font-style: italic;
    color: #fff;
    font-size: 1.2rem;
}