body{
    background: rgb(250, 86, 45);
    font: normal 15pt arial;
}

header{
    color: #fff;
    text-align: center;
}
header h1{
    text-shadow: 4px 4px 0px rgb(255, 51, 0);
}

section{
    background: white;
    border: solid 2px rgba(0, 0, 0, 0.281);
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.507);
}
option{
    padding: 2px 2px 2px 6px;
}
div.res{
    margin-top: 15px;
}

footer{
    text-align: center;
    font-style: italic;
}
footer p{
    color: white;
    text-shadow: 4px 4px 0px rgb(255, 51, 0);
}

/*Minhas Formatações*/

#txtn{
    border: solid 2px rgba(0, 0, 0, 0.281);
    border-radius: 6px;
    padding: 6px;
    margin-right: 15px;
    outline: none;
    color: #333;
    text-align: center;
}
.button{
    font-weight: 600;
    padding: 5px 12px;
    color: white;
    background: rgb(250, 86, 45);
    border-radius: 15px;
    border: solid 2px;
}
.button:hover{
    background: transparent;
    border: solid 2px rgb(250, 86, 45);
    color: rgb(250, 86, 45);
    transition: 0.5s;
}

#selecttab{
    border: solid 2px rgba(0, 0, 0, 0.281);
    border-radius: 8px;
    padding: 20px;
    color: #333;
}
p{
    color: #333;
}